.videoContainer{
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.videoContainer::-webkit-scrollbar {
    display: none;
}

.videos{
    position: relative;
}
.fa{
    position: absolute;
    bottom: 7%;
    left: 2%;
}
.fa h4{
    margin: 0;
    color: white;
    margin-top: 8%;
    margin-left: 18%;
}
.icon-styling{
    position: absolute;
    bottom: 3.5%;
    left: 2.5%;
}
.like{
    cursor: pointer;
    color : #e74c3c
}
.unlike{
    cursor: pointer;
    color: white;
}