.videoContainer{
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.videoContainer::-webkit-scrollbar {
    display: none;
}

.videos{
    position: relative;
}
.fa{
    position: absolute;
    bottom: 7.5%;
    left: 2%;
}
.fa h4{
    margin: 0;
    color: grey;
    margin-top: 8%;
    margin-left: 18%;
}
.icon-styling{
    position: absolute;
    bottom: 3%;
    left: 2.5%;
    color: grey;

}
.like{
    cursor: pointer;
    color : #e74c3c
}
.unlike{
    cursor: pointer;
    color: grey;
}
.chatStyling{
    position: absolute;
    bottom: 3%;
    left: 8.5%;
    color: grey;

}

.modalContainer{
    display: flex;
    height: 100%;
    width: 100%;
}

.video-modal{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-modal video{
    height: 85vh;
    width: 57vh;
}

.comment-modal{
    width: 50%;
    height: 100%;
}

.card1{
    height: 70vh;
}
.unlike2{
    color: grey;
    cursor: pointer;
}